# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.metadata

# IDE
.idea/
.vscode/
*.iml
*.swp

# macOS
.DS_Store

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
**/Pods/

# Android
android/.gradle/
android/local.properties
android/key.properties
**/gradle-wrapper.jar
.gradle/

# Misc
*.log
